<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.playvideota">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_baseline_code_24"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_baseline_code_24"
        android:supportsRtl="true"
        android:theme="@style/Theme.PlayVideoTA"
        tools:replace="android:icon,android:roundIcon"
        tools:targetApi="31">
        <activity
            android:name=".PanchangAbout"
            android:exported="false" />
        <activity
            android:name=".AdminPanchang"
            android:exported="false" />
        <activity
            android:name=".AdminDashboard"
            android:exported="false" />
        <activity
            android:name=".AdminRashiphalAddData"
            android:exported="false" />
        <activity
            android:name=".AdminRashiphal"
            android:exported="false" />
        <activity
            android:name=".FeedbackActivity"
            android:exported="false" />
        <activity
            android:name=".EnterPhoneNumberScreen"
            android:exported="false" />
        <activity
            android:name=".VerifyOtpScreen"
            android:exported="false" />
        <activity
            android:name=".AuthActivity"
            android:exported="true" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VideoPlayer"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".YoutubeDashboard"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>